
LOCATE COMP "clk_i" SITE "G2";
IOBUF  PORT "clk_i" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "arst_i" SITE "D6";
IOBUF  PORT "arst_i" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led_o" SITE "B2";
IOBUF  PORT "led_o" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
